body {
  color: black;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }

  a:link { color: lightskyblue; }
  a:visited { color: #6d4b8d; }
  a:hover { color: #ffffff; }
  a:active { color: #ff4040; }

  .button {
    background-color: darkgreen;
  }

  .download {
    background-color: darkgreen;
  }
}   